



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  &nbsp;<i class="fa fa-graduation-cap" style="font-size:48px;color:rgb(10, 113, 238);"></i>
  &nbsp;<a class="navbar-brand" href="#"><strong>Eduman</strong></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Home
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Home 1</a>
          <a class="dropdown-item" href="#">Home 2</a>
          <a class="dropdown-item" href="#">Home 3</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Course
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Course 1</a>
          <a class="dropdown-item" href="#">Course 2</a>
          <a class="dropdown-item" href="#">Course 3</a>
          <a class="dropdown-item" href="#">Course 4</a>
          <a class="dropdown-item" href="#">Course Details</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Shop
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Shop</a>
          <a class="dropdown-item" href="#">Shop Details</a>
          <a class="dropdown-item" href="#">Wishlist</a>
          <a class="dropdown-item" href="#">Cart</a>
          <a class="dropdown-item" href="#">Checkout</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Pages
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">About</a>

          <li ngbDropdown class="nav-item dropdown dropdown-menu-item1">
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="position: relative; padding-left: 7px;"
            >
              Instructor
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu1"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">Instructor</a>
              <a class="dropdown-item" href="#">Instructor Profile</a>
              <a class="dropdown-item" href="#">Become Instructor</a>
            </div>
          </li>

          <li ngbDropdown  class="nav-item dropdown dropdown-menu-item2">
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="position: relative; "
            >
              Zoom Class
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu1"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">Zoom Class</a>
              <a class="dropdown-item" href="#">Zoom Details</a>
            </div>
          </li>

          <li ngbDropdown class="nav-item dropdown dropdown-menu-item3">
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="position: relative;"
            >
              Blog
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu1"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">Blog</a>
              <a class="dropdown-item" href="#">Blog Details </a>
            </div>
          </li>

          <li ngbDropdown class="nav-item dropdown dropdown-menu-item4">
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="position: relative;"
            >
              Event
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu1"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">Event</a>
              <a class="dropdown-item" href="#">Event Details</a>
            </div>
          </li>

          <a class="dropdown-item" href="#">Membership Plan</a>

          <li ngbDropdown class="nav-item dropdown dropdown-menu-item5">
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="position: relative; "
            >
              FAQ Page
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu1"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">FAQ Page</a>
              <a class="dropdown-item" href="#">FAQ Details</a>
            </div>
          </li>

          <a class="dropdown-item" href="#">404 Pages</a>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
    </ul>
    </div>
    <div class="navlist-right d-flex">
      <div class="v1">




        <button style="border: none; background-color: #f8f9fa; margin: 0;" type="button">
          
            <i class="btn fa fa-shopping-cart m-0" style="font-size:28px;color:rgb(10, 113, 238);"></i>
        </button>



        
        
      </div>
      
      <div style="margin-top: 11px">
        <a href="#" style="font-size: 15px;">Sign In</a>
      </div>
      <div style="margin-top: 4px;">
        <button type="button" routerLink="register" class="btn btn-outline-primary" style="font-size: 14px;">Sign Up</button>
      </div>
    </div>
  </nav>



  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer> -->
  
    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  <!-- </mat-drawer-container> -->
  <router-outlet></router-outlet>
  <!-- <app-dashboard></app-dashboard> -->
  

  <!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div> -->



